.media-actions.mdc-card {
    background-color: #ffffff05;
    color: inherit;
}

@media (max-width: 1300px) {
    .media-actions {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;

        text-align: center;
    }

    .media-actions .mdc-button {
        display: block;
    }
}

@media (min-width: 1300px) {
    .media-actions.mdc-card {
        width: 600px;
        padding: 0 20px;
        display: block;
    }
}

.media-actions .mdc-button {
    margin-top: 10px;
    margin-bottom: 10px;
    transition: 0.5s;
}

.media-actions .mdc-button.media-actions__start-button {
    background-color: rgba(0, 214, 0, 0.8);
}

.media-actions .mdc-button.media-actions__start-button,
.media-actions .mdc-button.media-actions__stop-button {
    min-width: 105px;
}

.mdc-button--raised:disabled {
    background-color: rgba(77, 77, 77, 0.6) !important;
    color: rgba(255, 255, 255, 0.6) !important;
}